* {
  font-family: "Overpass", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  box-sizing: border-box;
}


.navbar .navbar-brand span {
  font-size: 50px;
  text-transform: uppercase;
  color: white;

}
.navbar .nav-item .nav-link {
  font-size: 24px;
  text-transform: uppercase;
  color: white;
  font-weight: 600;
}
.navbar .nav-item {
  position: relative;
}
.navbar .nav-item .nav-link::before {
  content: "";
  position: absolute;
  background-color: white;
  width: 2px;
  height: 60px;
  right: 42px;
  top: -6px;
  transform: rotate(268deg);
  transition: all ease 0.5s;
  opacity: 0;
  /* display: none;   */
}
.navbar .nav-item .nav-link:hover::before {
  display: block;
  transform: rotate(220deg);
  transition: all ease 0.5s;
  background-color: #2e9cbc;
  opacity: 1;
}
.navbar .nav-item .about::before {
  content: "";
  position: absolute;
  background-color: black;
  width: 2px;
  height: 60px;
  right: 45px;
  top: -4px;
  transform: rotate(268deg);
  transition: all ease 0.5s;
  opacity: 0;
}
.navbar .nav-item button{
  background-color: #f49742;
  color: white;
  border: none;
  text-transform: capitalize;
  border-radius: 50px;
}
.navbar .nav-item .about:hover::before {
  display: block;
  transform: rotate(220deg);
  transition: all ease 0.5s;
  background-color: #2e9cbc;
  opacity: 1;
}
.navbar .nav-item .community::before {
  content: "";
  position: absolute;
  background-color: black;
  width: 2px;
  height: 60px;
  right: 80px;
  top: -4px;
  transform: rotate(268deg);
  transition: all ease 0.5s;
  opacity: 0;
}
.navbar .nav-item .community:hover::before {
  display: block;
  transform: rotate(220deg);
  transition: all ease 0.5s;
  background-color: #2e9cbc;
  opacity: 1;
}
.navbar .nav-item .active {
  color: #2e9cbc !important;
}
.navbar .nav-item .nav-link:hover {
  color: #2e9cbc;
}
@media screen and (max-width: 800px) {
  .navbar .nav-item .community:hover::before {
    display: none;
  }
  .navbar .nav-item .about:hover::before {
    display: none;
  }
  .navbar .nav-item .nav-link:hover::before {
    display: none;
  }
  .navbar {
    position: relative !important;
  }
}
/* hero section start */
.hero-section {
 background-image:url(./asset/images/hero-baground.jpg);
 background-position: center;
 background-size: cover;
 background-repeat: no-repeat;
  height: 100vh;

}
.hero-section .hero-content h2{
  text-transform: capitalize;
  font-size: 50px;
  padding-top: 60px;
  line-height: 60px;
}
 .hero-img{
  width: 100%;
 padding-top: 50px;
}
.hero-img img{
  width: 100%;
}
.input-groups{
  margin-top: 70px;
  border: 2px solid white;
  border-radius: 50px;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
.input-groups p{
  margin: 0;
  text-overflow: ellipsis;
  white-space:nowrap;
  overflow: hidden;
}
.input-groups button{
  padding: 6px 20px;
  border-radius: 50px;
  text-transform: capitalize;
  box-shadow: none;
  outline: none;
  background-color: #76bfdf;
  color: white;
  border: none;

}
.input-groups i{
  padding-right: 10px;
  color: black;
  cursor: pointer;
  font-weight: bolder;
  font-size: 30px;
}
.hero-icon i{
  font-size: 40px;
  color: white;
}
/* media query hero section */
@media screen and (max-width: 757px) {
  .hero-section {
    height: 80vh;
  }
  .hero-section .hero-content-sec h4 {
    font-size: 40px;
  }
  .hero-section .hero-content-sec h2 {
    font-size: 50px;
  }
}
@media screen and (max-width: 535px) {
  .hero-section {
    height: 60vh;
  }
  .hero-section .hero-content-sec h4 {
    padding-top: 30px;
    font-size: 30px;
  }
  .hero-section .hero-content-sec h2 {
    font-size: 40px;
  }
  .hero-section .hero-content-sec {
    transform: translateY(80px);
  }
}
/* about section */
.about-section {

    background-image:url(./asset/images/about-sec.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
     height: 100vh;
   

}
.about-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
  padding-top: 40px;
  text-align: center;
}
.about-container .about-heading {
  padding: 10px 60px;
}
.about-container .about-heading h2 {
  font-size: 70px;
  text-transform: uppercase;
  font-weight: 900;
  color: black;

  border-bottom: 2px solid black;
  width: 30%;
  margin: 0 auto;
}
.about-container .about-para h2 {
  font-size: 50px;
}
.about-container .about-para h2 span{
  font-weight: bolder;
}
.about-container .about-para p {
  font-size: 30px;
  overflow: hidden;
}
/* media queru about */
@media screen and (max-width: 800px) {
  .about-container {
    width: 80% !important;
    margin: 0 auto;
  }
  .about-container .about-heading h2 {
    width: 60%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 500px) {
  .about-container {
    width: 90% !important;
    margin: 0 auto;
  }
  .about-container .about-para p {
    font-size: 20px;
    overflow: hidden;
  }
  .about-container .about-para h2 {
    font-size: 40px;
  }
  .about-container .about-heading h2 {
    width: 100%;
    margin: 0 auto;
  }
}
/* chart section */
.chart-section {
  background-color: black;
  color: #f49742;
  padding-bottom: 30px;
}
.chart-section h2 {
  font-size: 70px;
  text-transform: uppercase;
  padding-top: 60px;
  border-bottom: 2px solid white;
  width: 30%;
  margin: 0 auto;
}
.chart-section h4 {
  font-size: 50px;
  text-transform: uppercase;
}
.chart-section p {
  font-size: 40px;
  color: white;
  padding-bottom: 30px;
}

.chart-images {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.chart-images .image1 {
  width: 25%;
  padding-top: 10px;
  padding-bottom: 80px;
}
.chart-images .image1 img {
  width: 100%;
  transition: all ease 0.5s;
}
.chart-images .image1 img:hover {
  scale: 1.1;
  transition: all ease 0.5s;
}
/* mediA Query */
@media screen and (max-width: 800px) {
  .chart-section h2 {
    width: 60%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 500px) {
  .chart-section h2 {
    width: 100%;
    margin: 0 auto;
  }
}
/* community section */
.community-section {
background-color: #555;
  padding: 30px 0;
}
.comunity-icons h2 {
  font-size: 70px;
  text-transform: capitalize;
  color: white;

  padding-bottom: 30px;
}
.comunity-icons span {
  background-color: black;
  padding: 40px 20px 20px 20px;
  margin: 0 10px;
}
.comunity-icons span i {
  color: white;
  font-size: 38px;
}

.community-images .jupiter-image {
  width: 40%;
  margin: 0 auto;
}
.community-images .jupiter-image img {
  width: 100%;
  margin-top: 40px;
  transition: all ease 0.5s;
}
.community-images .jupiter-image img:hover {
  scale: 1.1;
  transition: all ease 0.5s;
}
.community-images h2 {
  font-size: 70px;
  text-transform: capitalize;
  color: white;
}
.contact-adress h2 {
  font-size: 70px;
  text-transform: capitalize;
  color: white;

}
.contact-adress p {
  background-color: #2e9cbc;
  color: white;
  font-size: 22px;
  width: 60%;
  margin: 0 auto;

  overflow: hidden;
  padding: 0 10px;
}
/* media query */
@media screen and (max-width: 700px) {
  .contact-adress p {
    width: 100%;
    font-size: 18px;
  }
}
/* tokenomics */
/* .wrapper {
  position: relative;
  width: 80vw;
  transform: translate(-50%, -50%);

  left: 50%;
  display: flex;
  justify-content: space-around;
  gap: 10px;
} */
.tokenomics-section {
  background-image: url(./asset/images/tokeno.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.tokenomics-section h2 {
  font-size: 70px;
  text-transform: capitalize;
  color: white;

}
.tokenomics-section .wrapper {
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px 0;
}
.containers {
  width: 50vmin;
  height: 28vmin;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1em 0;
  position: relative;
  font-size: 16px;
  border-radius: 0.5em;

  overflow: hidden;
}
.tokenomics-section i {
  color: #18f98f;
  font-size: 2.5em;
  text-align: center;
  display: none;
}
.tokenomics-section span.num {
  color: #ffffff;
  display: grid;
  place-items: center;
  font-weight: 600;
  font-size: 3em;
}
.tokenomics-section span.text {
  color: #e0e0e0;
  font-size: 30px;
  text-align: center;
  pad: 0.7em 0;
  font-weight: 400;
  line-height: 0;
}
@media screen and (max-width: 1024px) {
  .wrapper {
    width: 85vw;
  }
  .containers {
    height: 26vmin;
    width: 26vmin;
    font-size: 12px;
  }
}
@media screen and (max-width: 768px) {
  .wrapper {
    width: 90vw;
    flex-wrap: wrap;
    gap: 30px;
  }
  .containers {
    width: calc(50% - 40px);
    height: 30vmin;
    font-size: 14px;
  }
}
@media screen and (max-width: 480px) {
  .wrapper {
    gap: 15px;
  }
  .containers {
    width: 100%;
    height: 25vmin;
    font-size: 8px;
  }
}
/* roadmap section */
.roadmap-section {
  padding: 40px 0;
background-color: black;
}
.roadmap-section .roadmap-content h2{
  text-transform: capitalize;
  font-size: 35px;
  color: white;
}
.roadmap-section .roadmap-content p{
  text-transform: capitalize;
  font-size: 22px;
  color: white;
}
.roadmap-section .roadmap-content button{
padding: 8px 30px;
text-transform: capitalize;
font-size: 22px; border: none;
background-color: white;
color: black;
border-radius: 50px;
}
.phase-content{
  height: 50vh;
  overflow-y: scroll;
 
 

}
marquee{
  font-size: 20px;
  text-transform: uppercase;
}
marquee span{
 margin: 0 60px;
}
.phase-content li{
  list-style-type: none;
}
.phase-content h4{
  text-transform: uppercase;
  text-align: center;
}

.phase-content::-webkit-scrollbar {
  width: 10px;

}

/* Track */
.phase-content::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.phase-content::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.phase-content::-webkit-scrollbar-thumb:hover {
  background: #555;
 
}
/*  */
.phase-card{
  background-image: url(./asset/images/tokeno.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
margin-top: 10px;
color: white;
width: 80%;
padding: 30px;
}